<h1>Upcoming Events</h1>

<!--display calendar-->
<script>
  $( document ).ready(function()
    {$('#calendar').fullCalendar({
    events: '/events.json',
    header: {
      left: 'today prev,next',
      center: 'title',
      right: 'month,agendaWeek,agendaDay,list'
    },
    defaultView: 'agendaWeek',
    selectable: true,
    selectHelper: true,
    eventLimit: true,
    editable: true
    });
  });
</script>


<div id="calendar"></div>


<% if @core_member %>
  <%= link_to 'New Event', new_event_path %>
<% end %>

<%= render partial: "table", locals: {events: @upcoming_events}%>

<h1>Past Events</h1>
<%= render partial: "table", locals: {events: @old_events}%>
