<center>
           <div id="slider">
                <img class="mainpictures" src="https://www.ocf.berkeley.edu/~datong/wp-content/uploads/2016/01/1.pic_-1024x310.png" width="1024" height="310" alt="Datong">
           </div>
</center>
<script>
   var slideIndex = 0;
carousel();
function carousel() {
    var i;
    var x = document.getElementsByClassName("mainpictures");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 4000); // Change image every 2 seconds
}

   var images = [
       "https://upload.wikimedia.org/wikipedia/commons/a/a2/PudongSkyline-pjt.jpg",
       "http://image.insider-journeys.com/overview/china.jpg",
       "https://4.bp.blogspot.com/-8irF_T45mks/VGG8PnGJ2-I/AAAAAAABVVw/NddZWUZOy5c/s0/Sunset%2BNational%2BGrand%2BTheatre%2BUHD.jpg",
       "https://upload.wikimedia.org/wikipedia/commons/e/ef/The_Forbidden_City_-_View_from_Coal_Hill.jpg"
   ]
   var imageHead = document.getElementById("nav-bar");
   var i = 0;
   setInterval(function() {
       imageHead.style.backgroundImage = "url(" + images[i] + ")";
       i = i + 1;
       if (i == images.length) {
           i =  0;
       }
   }, 5000);
</script>





<div class="column-container">
<div class="column-left"><span class="column-text"><h4>Passion:</h4><h4> 积极的学术热情，<br>无私的学术精神</h4> </span></div>
<div class="column-center"> <span class="column-text"><h4>Integrity: </h4><h4>优良的学术品质，<br>独立的学术能力</h4></span></div>
<div class="column-right"><span class="column-text"><h4>Open-mindedness:</h4><h4> 持重的学术态度，<br>包容的学术胸怀</h4></span></div>
</div>


<div id="bottom-bar">
    <span id="bottom-bar-text">Hosted by OCF. Sponsored by <a href=http://ieas.berkeley.edu/ccs/>Center for Chinese Studies</a></span>
</div>