/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 */



@import "materialize/components/color";
$beaver: #9A846D;
$bison-hide: #B8A692;
$coffee: #78644F;
$primary-color: $beaver !default;
$secondary-color: $bison-hide !default;
$error-color: #EED6D6;
$danger-color: #E83B3F;
$warning-color: #fff59d;
$success-color: #D8EECF;
$sidenav-font-size: 2em !default;
$sidenav-padding: 16px !default;
//$sidenav-item-height: 48px !default;
$sidenav-item-height: 2em !default;


@import 'materialize';
@import "materialize/extras/nouislider";

nav {
  @media only screen and (min-width: 0) {
    height: 3em;
    .nav-wrapper {
      padding: .7em 1em 0 1em;
    }
  }
  @media only screen and (min-width: $medium-screen) {
    height: 500px;
    .nav-wrapper {
      padding: 0em 1em 0 1em;
      height: 64px;
      position: fixed;
      background-color: rgba(60,63,65,0.22);
    }
  }
}

nav {
  background-image: url("http://image.insider-journeys.com/overview/china.jpg");
  background-size: cover;
}

.navbar-non-link {
  padding: 0 15px;
}

.nav-pages {
  padding-left: 815px;
}

.side-nav {
  width: 500px;
}

html{
  line-height: 1.5;

  @media only screen and (min-width: 0) {
    font-size: 2em;
  }

  @media only screen and (min-width: $medium-screen) {
    font-size: 1em;
  }

  @media only screen and (min-width: $large-screen) {
    font-size: .8em;
  }

  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: $off-black;
}
.alert {
  border-radius: 3px;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

.alert-success {
  background-color: $success-color;
  border-color: darken($success-color, 20%);
  color: darken($success-color, 50%);
}

.alert-notice {
  background-color: $warning-color;
  border-color: darken($warning-color, 20%);
  color: darken($warning-color, 50%);
}

.alert-error {
  background-color: $error-color;
  border-color: darken($error-color, 20%);
  color: darken($error-color, 50%);
}

.danger {
  background-color: $danger-color;
}

.social-media {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  li {
    display: inline;
  }

  li a {
    display: inline-block;
    text-align: center;
    padding: 3em;
    text-decoration: none;
  }

  i {
    color: $primary-color;
    font-size: 10em;
  }

  i:hover {
    color: $secondary-color;
    cursor: pointer;
  }
}

#wechatModal {
  .modal-content {
    text-align: center;
  }
  .modal-footer {
    text-align: right;
  }
}

.column-left{
  float: left; width: 33%;
}

.column-right{
  float: right; width: 33%;
}

.column-center{
  display: inline-block; width: 33%;
}

#bottom-bar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  height:40px;
  background-color: $secondary-color;
  color: white; text-align:center;
  line-height:40px;
}

#bottom-bar-text {
  display:inline-block;
  vertical-align:middle;
  line-height:normal;
}

.container{
  margin-top: 10px;
}

.column-left{ float: left; width: 35%; padding-left: 10%;margin-left: 0px;}
.column-right{ float: right; width: 35%; padding-left: 5%;}
.column-center{ display: inline-block; width: 30%; padding-left: 5%;}
.column-text{margin-left:50px; padding-right: 5px;}
#bottom-bar {position: fixed; z-index: 100; bottom: 0; left: 0; width: 100%; height:40px; background-color: $secondary-color; color: white; text-align:center; line-height:40px;}
#bottom-bar-text{display:inline-block; vertical-align:middle; line-height:normal;}
.column-container{margin-top: 10px;padding-left:0%; margin-left: 0px;margin-right:0px;}