/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "materialize/components/color";
$beaver: #9A846D;
$bison-hide: #B8A692;
$primary-color: $beaver !default;
$secondary-color: $bison-hide !default;
$error-color: #EED6D6;
$danger-color: #E83B3F;
$warning-color: #fff59d;
$success-color: #D8EECF;
@import 'materialize';
@import "materialize/extras/nouislider";

.nav-wrapper {
  padding: 0em 1em 0em 1em;
}

.nav-wrapper .navbar-non-link {
  padding: 0 15px;
}

.alert {
  border-radius: 3px;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}

.alert-success {
  background-color: $success-color;
  border-color: darken($success-color, 20%);
  color: darken($success-color, 50%);
}

.alert-notice {
  background-color: $warning-color;
  border-color: darken($warning-color, 20%);
  color: darken($warning-color, 50%);
}

.alert-error {
  background-color: $error-color;
  border-color: darken($error-color, 20%);
  color: darken($error-color, 50%);
}

.danger {
  background-color: $danger-color;
}

