<h2>Core Members</h2>

<table id="core_members">
  <thead>
  <tr>
    <th>
      Current semester
    </th>
  </tr>
  </thead>
  <tbody>
  <% if @core_members.empty? %>
          <tr><td>It looks like there are no Core Members yet!</td></tr>
  <% else %>
      <% @core_members.each do |core_member| %>
          <tr>
            <td>
              <div class="row">
                <div class="col s12 m10">
                  <div class="card horizontal small">
                    <div class="card-image">
                      <%= image_tag(core_member.img_url) %>
                      <span class="card-title" style="background-color:rgba(0, 0, 0, 0.5);">
                        <%= core_member.fullname %>
                      </span>
                    </div>
                    <div class="card-content">
                      <div class="core-member-position"></div>
                      <div class="core-member-blurb">Hello! <%= core_member.blurb %></div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>