<h2>Core Members</h2>

<table id="core_members">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
  </tr>
  </thead>
  <tbody>
  <% if @core_members.empty? %>
          <tr><td>It looks like there are no Core Members yet!</td></tr>
  <% else %>
      <% @core_members.each do |core_member| %>
          <tr>
            <td><%= core_member.fullname %></td>
            <td><%= core_member.email %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>