<h2>Core Members</h2>
<% if @is_account_admin %>
  <%= link_to "Edit", edit_multiple_core_members_path %>
<% end %>
<table id="core_members">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Email
    </th>
  </tr>
  </thead>
  <tbody>
  <% if @core_members.empty? %>
          <tr><td>It looks like there are no Core Members yet!</td></tr>
  <% else %>
      <% @core_members.each do |core_member| %>
          <tr>
            <td><%= core_member.fullname %></td>
            <td><%= core_member.email %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>